<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 목적지를 말로 받기 위한 마이크 권한 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <!--
      Android 11(API 30)부터는 다른 앱이 보이지 않는 것이 기본이라,
      이 선언이 없으면 음성 인식기가 깔려 있어도
      SpeechRecognizer.isRecognitionAvailable()이 false를 돌려준다.
      원인을 찾기 어려운 실패라 반드시 있어야 한다.
    -->
    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService"/>
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BleScanner">

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.DeviceDetailActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".ui.FilterManageActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".ui.SurveyActivity" />
    </application>

</manifest>